<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Personal Glucose measurements</title>

    <!-- Custom Font - Change 'Muli' to the font you want -->
    <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Custom CSS inside CSS folder -->
    <link rel="stylesheet" href="css/style.css">

    <!--CHART JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

<!--JQUERY -->
  <script src="https://code.jquery.com/jquery-3.3.1.js"
integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
crossorigin="anonymous"></script>

<!-- sketch js -->
      <script src="js/sketch.js" type="text/javascript"></script>

      <!-- FONT GOOGLE     -->
        <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=PT+Sans:700" rel="stylesheet">

  </head>



  <body>
    <div class= "inputBox">
      <div class = "menu"> OPEN </div>
      <div class= "glucoseSchema">
         <!-- /////////////////////formula///////////////////////////////////////////// -->


              <!-- THIS IS WHERE MY INFO GOES ON SUBMIT (CREATE TEMP) -->
              <!-- <form action="" id=""  method> -->

              <form id="formToSend" >

                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" name="Name" placeholder="enter name" class="form-control" id= "Name" required>
                </div>

                <div class="form-time"> Morning </div>


                <div class="form-group">
                  <label for="time1">Time</label>
                  <input type="text" name="Measure1Time" placeholder="Enter Time hh:mm" class="form-control" id="Measure1Time" required>
                </div>

                <div class="form-group">
                  <label for="val1">Value</label>
                  <input type="text" name="Measure1Value" placeholder="Enter Value" class="form-control" id="Measure1Value" required>
                </div>

                <br>
                <div class="form-time"> Lunch: Before </div>
                <div class="form-group">
                  <label for="time2">Time</label>
                  <input type="text" name="Measure2Time" placeholder="Enter time" class="form-control" id="Measure2Time" required>
                </div>

                <div class="form-group">
                  <label for="val2">Value</label>
                  <input type="text" name="Measure2Value" placeholder="Enter Value" class="form-control" id="Measure2Value" required>
                </div>

                <br>
                <div class="form-time"> Lunch: After </div>
                <div class="form-group">
                  <label for="time3">Time </label>
                  <input type="text" name="Measure3Time" placeholder="Enter Time" class="form-control" id="Measure3Time" required>
                </div>

                <div class="form-group">
                  <label for="val3">Value</label>
                  <input type="text" name="Measure3Value" placeholder="Enter Value" class="form-control" id="Measure3Value" required>
                </div>

                <br>
                <div class="form-time"> Bedtime </div>
                <div class="form-group">
                  <label for="color">Time </label>
                  <input type="text" name="Measure4Time" placeholder="Enter Time" class="form-control" id="Measure4Time" required>
                </div>

                <div class="form-group">
                  <label for="color">Value</label>
                  <input type="text" name="Measure4Value" placeholder="Enter Value" class="form-control" id="Measure4Value" required>
                </div>


                <button type="submit" class="buttonSubmit">Submit</button>
              </form>


      </div>
    </div>

    <!-- //////////////////formaula/////////////////////////// -->

      <script>
          $(document).ready(function() {
            console.log("LOADED")
            initialize();
          })
      </script>

      <div id = "container">
       <div id = "title"> TRACKING BLOOD GLUCOSE <span id="titleinfo">measured</span><span id="titleinfo2">guidelines</span></div>
       <div class = "days">
         <div class = "refDayColumn">
           <div class = "refslots">
             <div class="refdescriptionSmall">Time </div>
             <div class="refdescription">Morning </div>
           <div id="chart-container"><canvas id="my0Chart" width="100%" height="100%"></canvas></div>
           </div>
           <div class = "refslots2">
             <div class="refdescription">Lunch: <br> before </div>
           <div id="chart-container"><canvas id="my1Chart" width="100%" height="100%"></canvas></div>
           </div>
           <div class = "refslots">
             <div class="refdescription">Lunch: <br> 2hours <br> after </div>
           <div id="chart-container"><canvas id="my2Chart" width="100%" height="100%"></canvas></div>
           </div>
           <div class = "refslots2">
             <div class="refdescription">Night </div>
           <div id="chart-container"><canvas id="my3Chart" width="100%" height="100%"></canvas></div>
           </div>
       </div>
     </div>
   </div>

  </body>


  </body>

<!--////////////////////////////////////////////////empty page that references a sketch with an ajax call  -->


</html>
